<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <h1>Ma première application VueJS</h1>
    <div id="app">
        <p>Prénom : {{prenom}}</p>
        <p>Nom : {{nom}}</p>
        <p>Heure de connexion : {{creationDate}}</p>
        <p>Votre nom complet est : {{nomComplet}} et vous avez {{age}} ans</p>
        <p v-if="!showStory">Voici mon histoire en 30 caractères : {{story | excerpt}}...</p>
        <p v-else>{{story}}</p>
        <p><button v-on:click="changeStory()"><span v-if="!showStory">Afficher le texte complet</span><span
                    v-else>Afficher l'extrait</span></button></p>
        <h2>Pays dans lesquels j'ai voyagé</h2>
        <ul>
            <li v-for="x of voyage">{{x}}
            </li>
        </ul>
        <span :title="time">Horloge : {{time}}</span>
        <p>
        <p><label> Prénom
                <input type="text" v-model="prenom">
            </label></p>
        <p><label> Nom
                <input type="text" v-model="nom">
            </label></p>
        <p><label> Date de naissance
                <input type="date" v-model="birthday">
            </label></p>
        <p><textarea v-model="story" cols="120" rows="10"></textarea></p>
        <label> Afficher la story
            <input type="radio" v-model="showStory" v-bind:value="false">Non
            <input type="radio" v-model="showStory" v-bind:value="true">Oui
        </label>
        </p>
        <p>
            <label>Ajouter un voyage :
                <select v-on:change="addCountry($event)">
                    <option value="0"></option>
                    <option value="USA">USA</option>
                    <option value="Japon">Japon</option>
                    <option value="Turquie">Turquie</option>
                    <option value="Canada">Canada</option>
                </select>
            </label>
        </p>

        <h2>Facturation</h2>
        <p>
            <label> Prix Unitaire
                <input type="text" v-on:change="verifChamp($event,0)">
            </label>
        </p>
        <p>
            <label> Quantité
                <input type="number" v-on:change="verifChamp($event,1)" min="0">
            </label>
        </p>
        <p><label>Taux de TVA :</label>
            <select v-model="tauxSelection">
                <option v-for="tx of tauxTva" :value="tx">{{tx}} %</option>
            </select>
        </p>
        <p>
            <button v-on:click="calculHT()">Calculer Montant HT</button>
            <button v-on:click="calculTTC()">Calculer Montant TTC</button>
        </p>
        <p>Montant Hors-taxe : {{montantHT}} €</p>
        <p>Montant TTC : {{montantTTC}} €</p>

        <local-cmp variable="Test Composant"></local-cmp>
        <random-number :min="5" :max="15"></random-number>
        <random-number :min="20" :max="35"></random-number>
    </div>



    <script src="app.js"></script>


</body>

</html>